In [1]:
import pymongo

In [3]:
#Connecting to the mongo db 

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [4]:
#Creating a database

mydb=client['Firstdb']

In [5]:
information = mydb.employeeinfo

In [10]:
client.list_database_names()

['Firstdb', 'admin', 'config', 'employee', 'local']

In [12]:
mydb.list_collection_names()

['employeeinfo']

In [16]:
print(information.find({'name':'priya'}))

<pymongo.cursor.Cursor object at 0x00000190334FF448>

In [17]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [18]:
information.insert_many(records)

# Querying

In [20]:
#Displaying the first record

information.find_one()

{'_id': ObjectId('5f86aca9e7c3db940f65e9e9'),
 'name': 'priya',
 'interest': 'Data science'}

In [22]:
#select * from information - to display all rows

for record in information.find():
    print(record)
    print('\n')

{'_id': ObjectId('5f86aca9e7c3db940f65e9e9'), 'name': 'priya', 'interest': 'Data science'}


{'_id': ObjectId('5f86add0e7c3db940f65e9eb'), 'name': 'priya', 'interest': 'Data science'}


{'_id': ObjectId('5f86add0e7c3db940f65e9ec'), 'name': 'Anzz', 'interest': 'Data science I '}


{'_id': ObjectId('5f86add0e7c3db940f65e9ed'), 'name': 'Baggu', 'interest': 'Data science II'}


{'_id': ObjectId('5f87e3b06546b65db966cadc'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}


{'_id': ObjectId('5f87e3b06546b65db966cadd'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}


{'_id': ObjectId('5f87e3b06546b65db966cade'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}


{'_id': ObjectId('5f87e3b06546b65db966cadf'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [24]:
#Querying based on certain condition
# select * from information where firstname='John'

for record in information.find({'firstname':'John'}):
    print(record)

{'_id': ObjectId('5f87e3b06546b65db966cadc'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}

In [25]:
#Querying using $in operation

for record in information.find({'qualification':{'$in':['phd','master']}}):
    print(record)
    print('\n')

{'_id': ObjectId('5f87e3b06546b65db966cade'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}


{'_id': ObjectId('5f87e3b06546b65db966cadf'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [26]:
#Querying using $lt operation - extract values less than

for record in information.find({'qualification':{'$in':['phd','master']},'age':{'$lt':35}}):
    print(record)
    print('\n')

{'_id': ObjectId('5f87e3b06546b65db966cade'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}


{'_id': ObjectId('5f87e3b06546b65db966cadf'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [27]:
#Querying using $or operation 

for record in information.find({'$or':[{'qualification':'master'},{'department':'Analytics'}]}):
    print(record)
    print('\n')

{'_id': ObjectId('5f87e3b06546b65db966cadc'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}


{'_id': ObjectId('5f87e3b06546b65db966cadd'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}


{'_id': ObjectId('5f87e3b06546b65db966cade'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}


{'_id': ObjectId('5f87e3b06546b65db966cadf'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [28]:
#Querying using $and operation 

for record in information.find({'$and':[{'qualification':'master'},{'department':'Analytics'}]}):
    print(record)
    print('\n')

{'_id': ObjectId('5f87e3b06546b65db966cadf'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [29]:
inventory=mydb.inventory

In [30]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
])

In [32]:
#Querying using nested collection

for row in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(row)

{'_id': ObjectId('5f87eee06546b65db966cae0'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}