# MongoDB aggregate and group

In [20]:
import pymongo

In [21]:
client=pymongo.MongoClient("mongodb://localhost:27017/")

In [22]:
mydb=client['Students']

In [23]:
collection=mydb['Scores']

In [24]:
data = [ 
    {"user":"Bibi", "subject":"Database", "score":80}, 
    {"user":"Abi",  "subject":"JavaScript", "score":90}, 
    {"user":"Abi",  "title":"Database", "score":85}, 
    {"user":"Bibi",  "title":"JavaScript", "score":75}, 
    {"user":"Abi",  "title":"Data Science", "score":60},
    {"user":"Bibi",  "title":"Data Science", "score":95}]

In [25]:
collection.insert_many(data)

In [26]:
agg_res=collection.aggregate(
    [{
        '$group':
        {
            "_id":"$user",
            "Total subjects":{"$sum":1}
        }
    }
    ]
)

In [27]:
agg_res

In [28]:
for i in agg_res:
    print(i)

{'_id': 'Bibi', 'Total subjects': 6}
{'_id': None, 'Total subjects': 5}
{'_id': 'Abi', 'Total subjects': 6}

# Sum

In [29]:
agg_result=collection.aggregate(
    [{
        '$group':
        {
            "_id":"$user",
            "Total subjects":{"$sum":'$score'}
        }
    }
    ]
)

In [30]:
for i in agg_result:
    print(i)

{'_id': 'Bibi', 'Total subjects': 500}
{'_id': None, 'Total subjects': 0}
{'_id': 'Abi', 'Total subjects': 470}

# Average

In [31]:
avrg=collection.aggregate(
    [{
        '$group':
        {
            "_id":"$user",
            "Total subjects":{"$avg":'$score'}
        }
    }
    ]
)

In [32]:
for i in avrg:
    print(i)

{'_id': None, 'Total subjects': None}
{'_id': 'Bibi', 'Total subjects': 83.33333333333333}
{'_id': 'Abi', 'Total subjects': 78.33333333333333}

# New collection

In [33]:
mycoll=mydb['Stores']

In [34]:
import datetime as datetime

In [35]:
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [36]:
mycoll.insert_many(data)

# Using multiply

In [39]:
amnt=mycoll.aggregate(
    [{
        '$group':
        {
            "_id":"$item",
            "Average amount":{"$avg":{'$multiply':['$price','$quantity']}},
            "Average quantity":{'$avg':'$quantity'}
        }
    }
    ]
)

In [40]:
for i in amnt:
    print(i)

{'_id': 'xyz', 'Average amount': 37.5, 'Average quantity': 7.5}
{'_id': 'abc', 'Average amount': 60.0, 'Average quantity': 6.0}
{'_id': 'jkl', 'Average amount': 20.0, 'Average quantity': 1.0}

# Using project

**It is similar to select * statement in sql**

In [42]:
for ab in mycoll.aggregate([{'$project':{'item':1}}]):
    print(ab)

{'_id': 1, 'item': 'abc'}
{'_id': 2, 'item': 'jkl'}
{'_id': 3, 'item': 'xyz'}
{'_id': 4, 'item': 'abc'}
{'_id': 5, 'item': 'xyz'}

In [43]:
for ab in mycoll.aggregate([{'$project':{'item':1,'price':1}}]):
    print(ab)

{'_id': 1, 'item': 'abc', 'price': 10}
{'_id': 2, 'item': 'jkl', 'price': 20}
{'_id': 3, 'item': 'xyz', 'price': 5}
{'_id': 4, 'item': 'abc', 'price': 10}
{'_id': 5, 'item': 'xyz', 'price': 5}